<nav class="navbar navbar-dark bg-dark">
    <!-- <div style="left:auto"> -->
      <a class="navbar-brand" routerLink="">Chi Sono</a>
      <a class="navbar-brand" routerLink="curriculum">Curriculum</a>
      <a class="navbar-brand" routerLink="contatti">Contatti</a>
      <a class="navbar-brand" routerLink="skills">Skills</a>
    <!-- </div> -->
    <!-- <div style="right:auto"> -->
        <a class="navbar-brand" routerLink="login">Login</a>
    <!-- </div> -->
  </nav>

  <router-outlet></router-outlet>


